button {
    width: 150px;
}

thead {
    color: #337AB7;
}

th,td {
    text-align: center;
    width: 16.66%;
}

tbody:nth-child(even) {
    background-color: #f2f2f2;
}

.title {
    font-size: 25px;
}

.planSummary {
    font-size: 20px;
}

.tableTitle {
    font-size: 20px;
    background-color: #f2f2f2;
}

.backButton {
    width: 80px;
}