button {
  width: 150px;
}

thead {
  color: #337ab7;
}

th,
td {
  text-align: center;
  width: 16.66%;
}

tbody:nth-child(even) {
  background-color: #f2f2f2;
}

.title {
  font-size: 25px;
}

.filter {
  font-size: 20px;
}
